<nav class="navbar navbar-default" role="navigation" style="background: #F5F5DC">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">IP地址分析首页</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/serach_ip" style="background: #F5F5DC">查询异常IP</a></li>
         <li><a href="/realtime_ip/">实时显示异常IP</a></li>
         <li><a href="/realtime_qq/">实时显示异常QQ</a></li>
         <li><a href="/realtime_api/">实时显示站点的访问总量</a></li>
         <li><a href="/search_api/">实时的接口访问总量</a></li>
         <li><a href="/all_web/realtime/visit">实时访问量地域分布</a></li>
      </ul>
   </div>
</nav>
